body {
	font-family: "Inconsolata", monospace;
	font-size: 18px;
	background: #242422;
	color: #e4e3d8;
	
	/*text-align: left;*/
}

.header {
	max-width: 1200px;
	margin: 40px auto;
	border-bottom: 1px solid #c2c1b8;
}

.grid-container {
	max-width: 1200px;
	display: grid;
	grid-template-columns: .2fr .8fr;
	gap: 20px;
	margin: 20px auto;
}

table td, th {
    border: 1px solid #c2c1b8;
	padding: 8px;
}

th {
	font-weight: bold;
}

table {
	/*background: rgb(29, 29, 29);*/
	width: 100%;
	margin: 0px auto;
	table-layout: auto;
	border-collapse: collapse;
}

ul {
	list-style: none;
	margin: 0;
	margin: 0px auto;
	padding: 5px;
}

h2 {
	margin: 0 0 20px 0;
	padding: 0;
}

h3 {
	margin: 10px 0 5px 0;
	padding: 0;
}

textarea {
	width: 100%;
	height: 400px;
	font-family: inherit;
	font-size: inherit;
	background: transparent;
	color: inherit;
}